@tailwind base;
@tailwind components;
@tailwind utilities;

.notification {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  /* animation-name: slide-down;
  animation-direction: normal;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
  animation-duration: 1s; */
  /* animation: slide-down 3s linear 0s 1 normal fowards; */
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes slide-down {
  0% {
    transform: translate(-50%, 0px);
  }

  50% {
    transform: translate(-50%, 200px);
  }

  100% {
    transform: translate(-50%, 0px);
  }
}
